@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Metal+Mania&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Metal+Mania&display=swap');

*{
    box-sizing: border-box; 
    font-family: raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul{
    margin: 0;
}

.nav li {
    display: inline
}

.nav a {
    display:  inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li {
    padding: 0 5%;
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("Images/2024.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px; 

}

.his-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: Metal mania;
    font-weight: normal;
    color: white
}

.his-name-large {
    font-size: 8em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "metal mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-him-image {
    float: left;
    height: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #2d9cdb;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul{
    flex-grow: 1;
    text-align: end;
}

.foter-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    transition: transform 0.3s ease;
}

.footer-nav img:hover {
    transform: scale(1.2);
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em auto 2em auto;
    color: white;
    border: 2px solid #2d9cdb;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
    display: block;
    width: fit-content;
}
.btn-header:hover {
    background-color: rgba(255, 255, 255, .3)
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2d9cdb;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.75em;
    align-items: center;
    justify-content: space-between;
}

.tour-row:last-child {
    border-bottom: none;
}

.tour-item {
    display: inline-block;
    padding-right: 0.25em;
}
.tour-date {
    color: #555;
    font-weight: bold;
    flex: 0 0 80px;
    font-size: 0.9em;
}

.tour-city{
    flex: 1 1 100px;
    font-size: 0.9em;
}

.tour-arena {
    flex: 1 1 140px;
    font-size: 0.9em;
}

.tour-btn {
    flex: 0 0 auto;
    white-space: nowrap;
}

.btn-primary {
    color: white;
    background-color: #2d9cdb;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0c405e;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 200px;
    width: 200px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%
}

.cart-price {
    font-size: 1.2em;
    color: #333;
    width: 20%
}

.cart-quantity {
    width: 35;
}

.cart-item-title {
    color: #333;
    margin: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #eb5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #cc4c4c;
}

.cart-quantity-input{
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #2d9cdb;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

/* Responsive Design - Medium Screens (tablets) */
@media (max-width: 768px) {
    .his-name {
        font-size: 2.5em;
    }

    .his-name-large {
        font-size: 3em;
    }

    .section-header {
        font-size: 1.8em;
    }

    .nav a {
        padding: .4em 0.3em;
        font-size: 0.9em;
    }

    .main-nav li {
        padding: 0 2%;
    }

    .btn-header {
        margin: .5em auto 2em auto;
        font-size: 1.2em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        display: block;
        width: fit-content;
    }

    .tour-date {
        flex: 0 0 70px;
        font-size: 0.85em;
    }

    .tour-city {
        flex: 1 1 80px;
        font-size: 0.85em;
    }

    .tour-arena {
        flex: 1 1 110px;
        font-size: 0.85em;
    }

    .tour-btn {
        flex: 0 0 auto;
        font-size: 0.9em;
        padding: 0.5em 0.75em;
    }

    .shop-item {
        min-width: 160px;
        margin: 15px;
    }

    .shop-item-image {
        height: 150px;
        width: 150px;
    }

    .about-him-image {
        float: none;
        margin: 15px auto;
        display: block;
        height: 150px;
        width: 150px;
    }

    .main-footer-container ul {
        text-align: center;
        width: 100%;
    }

    .cart-item {
        width: 100%;
        min-width: auto;
    }

    .cart-price {
        width: 100%;
    }

    .container {
        padding: 0 1em;
    }
}

/* Responsive Design - Small Screens (phones) */
@media (max-width: 480px) {
    .his-name {
        font-size: 1.8em;
    }

    .his-name-large {
        font-size: 2em;
    }

    .section-header {
        font-size: 1.4em;
    }

    .nav a {
        padding: .3em 0.2em;
        font-size: 0.8em;
    }

    .main-nav li {
        padding: 0 1%;
    }

    .btn-header {
        margin: .5em auto 1.5em auto;
        font-size: 1em;
        width: fit-content;
        padding: .67em 1.5em;
    }

    .btn-play {
        width: 80px;
        height: 80px;
        font-size: 2.5em;
    }

    .btn {
        padding: 0.5em 0.5em;
    }

    .tour-row {
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
    }

    .tour-item {
        padding-right: 0.25em;
        font-size: 0.9em;
    }

    .tour-date {
        flex: 0 0 60px;
        font-size: 0.75em;
    }

    .tour-city {
        flex: 1 1 60px;
        font-size: 0.75em;
    }

    .tour-arena {
        flex: 1 1 80px;
        font-size: 0.75em;
        margin-top: 0;
    }

    .tour-btn {
        flex: 0 0 auto;
        font-size: 0.8em;
        padding: 0.4em 0.5em;
        margin-top: 0;
        white-space: nowrap;
    }

    .shop-item {
        min-width: 140px;
        margin: 10px;
    }

    .shop-item-title {
        font-size: 1.1em;
    }

    .shop-item-image {
        height: 120px;
        width: 120px;
    }

    .about-him-image {
        height: 120px;
        width: 120px;
        margin: 10px auto;
    }

    .main-footer-container {
        flex-direction: column;
        gap: 1em;
    }

    .main-footer-container ul {
        flex-grow: 0;
        text-align: center;
    }

    .footer-nav img {
        width: 25px;
    }

    .content-section {
        margin: 0.5em;
    }

    .container {
        padding: 0 0.75em;
    }

    .cart-item-image {
        width: 60px;
        height: 60px;
    }

    .cart-item-title {
        font-size: 1em;
    }

    .cart-total-title {
        font-size: 1.2em;
    }

    .cart-total-price {
        font-size: 1em;
    }

    .btn-purchase {
        font-size: 1.3em;
        margin: 20px auto 50px auto;
    }
}